* {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    margin: 0;
}

footer {
    color: white;
    background-color: #4f4f4f;
    padding: 16px;
}

header.navbar {
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #4f4f4f;
}

main.content {
    padding: 0px 16px 16px 16px;
}

.navbar a {
    background-color: #4f4f4f;
    color: white;
    text-decoration: none;
}

.navbar a:visited {
    background-color: #4f4f4f;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #222;
}

.navbar a.active {
    background-color: mediumseagreen;
    color: white;
    text-decoration: none;
}

.navbar a.active:visited {
    background-color: mediumseagreen;
    color: white;
    text-decoration: none;
}

.navbar .navbar-item {
    font-size: larger;
    font-weight: bold;
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

/*
a:visited {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
}
*/
